<div class="mt-4">
  <h3>Info của tôi</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Mức độ</th>
        <th scope="col">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createAt}}</td>
          <td>
            <a
              href="/course/{{this._id}}/edit"
              class="btn btn-danger"
            >Update</a>
            <a
              href=""
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#delete-receipt-modal"
              data-id="{{this._id}}"
              {{!-- type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-bs-whatever="{{this._id}}" --}}
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! confirm receipt }}

<!-- Modal -->
<div
  class="modal"
  id="delete-receipt-modal"
  tabindex="-1"
  role="dialog"
  {{!-- aria-labelledby="exampleModalLabel" --}}
  {{!-- aria-hidden="true" --}}
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Do u want to delete</h5>
        <button
          type="button"
          class="close close position-absolute top-0 end-0"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>ban co muon xoa ? </h5>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
        <button
          type="button"
          id="btn-delete-receipt"
          class="btn btn-danger"
        >Delete</button>
      </div>
    </div>
  </div>
</div>

 {{!-- delete hidden form  --}}

 <form class="mt-4" method="POST" name="delete-receipt-form">
 </form>


<script>
  document.addEventListener('DOMContentLoaded', function(){ 
    var courseId;
    var deleteForm = document.forms['delete-receipt-form'];
    var btnDeletereceipt = document.getElementById('btn-delete-receipt'); 
    $('#delete-receipt-modal').on('show.bs.modal', function (event) { 
      var button = $(event.relatedTarget); 
      courseId = button.data('id');
      console.log(courseId)}) ;
      console.log(btnDeletereceipt);
      btnDeletereceipt.onclick = function(){ 
        alert(courseId); 
        deleteForm.action = '/course/' + courseId + '?_method=DELETE'
        deleteForm.submit();
        }
      }); 
 
</script>
